<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jimmy.gg.flashingnumbers"
    android:installLocation="preferExternal">

    <application
        android:name=".helpers.IternalMemory"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MemoryMarathon"
            android:label="@string/title_activity_main_test"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menu.FlashingNumbers"
            android:launchMode="singleTop"
            android:theme="@style/NumbersStyle" />
        <activity
            android:name=".LevelManager.Levels"
            android:allowBackup="true"
            android:launchMode="singleTop"
            android:theme="@style/NumbersStyle" />
        <activity
            android:name=".settings.NumbersLevelsSettings"
            android:launchMode="singleTop"
            android:theme="@style/NumbersStyle" />
        <activity
            android:name=".LevelManager.Numbers"
            android:noHistory="true"
            android:theme="@style/NumbersStyle" />
        <activity
            android:name=".LevelManager.NumbersRemember"
            android:noHistory="true"
            android:theme="@style/NumbersStyle" />
        <activity
            android:name=".quicklevel.QuickLevel"
            android:theme="@style/NumbersStyle" />
        <activity
            android:name=".highscore.TabbedHighScore"
            android:label="@string/title_activity_tabbed_high_score"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".words.words.WordsMain"
            android:theme="@style/WordsStyle" />
        <activity
            android:name=".words.words.WordsScore"
            android:theme="@style/WordsStyle" />
        <activity
            android:name=".words.words.WordsSettings"
            android:theme="@style/WordsStyle" />
        <activity
            android:name=".settings.NumbersSettings"
            android:theme="@style/NumbersStyle" />
        <activity
            android:name=".settings.QuickLevelSettings"
            android:theme="@style/NumbersStyle" />
        <activity
            android:name=".main.MainSettings"
            android:theme="@style/MainStyle" />
        <activity
            android:name=".main.GeneralSettings"
            android:theme="@style/MainStyle" />
        <activity
            android:name=".main.MainHighScore"
            android:theme="@style/MainStyle" />
        <activity
            android:name=".techniques.MemoryTechniques"
            android:theme="@style/MainStyle" />
        <activity
            android:name=".techniques.NumberMajorSystem"
            android:theme="@style/NumbersStyle" />
        <activity
            android:name=".techniques.WordsMemorySystem"
            android:theme="@style/WordsStyle" />
        <activity
            android:name=".main.MainAboutApp"
            android:theme="@style/MainStyle" />
        <activity
            android:name=".words.words.WordsGraph"
            android:theme="@style/WordsStyle" />
        <activity
            android:name=".highscore.NumbersGraph"
            android:theme="@style/NumbersStyle"/>
    </application>

</manifest>